.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




/* Botón flotante */
.floating-button {
  position: fixed;
  bottom: 16px;
  right: 16px;
  background-color: #4caf50;
  color: white;
  padding: 16px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s;
}

.floating-button:hover {
  background-color: #45a049;
}

/* Animaciones de gota de agua */
@keyframes waterDropOpen {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  80% {
    transform: scale(1.05);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes waterDropClose {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.5);
    opacity: 0;
  }
}

/* Aplicar animaciones */
.modal-open {
  animation: waterDropOpen 0.4s ease-out forwards;
}

.modal-close {
  animation: waterDropClose 0.3s ease-in forwards;
}

/* Estilos adicionales */
.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  max-width: 90%;
}

.custom-modal {
  width: 90vw !important;
  max-width: 450px !important;
}


.modal-content h2 {
  margin-top: 0;
}

.modal-content .results {
  margin-top: 10px;
}

.modal-content button {
  margin-top: 15px;
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}
